<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">openGarden</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="/weather">Weather</a>
        <a class="nav-item nav-link" href="/garden">Garden</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/tangerine2003/weather-app" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
        <a class="nav-item nav-link" href="#"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
        <a class="nav-item nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </div>
    </div>
  </nav>