<p>
  {{"Lattitude: " + lat + " , " + "Longitude: " +  lng}}
</p>

<div class="container">
  <div class="row">
    <div class="col-2">
      <app-day-card [day]="1"></app-day-card>
    </div>
    <div class="col-2">
      <app-day-card [day]="2"></app-day-card>
    </div>
    <div class="col-2">
      <app-day-card [day]="3"></app-day-card>
    </div>
    <div class="col-2">
      <app-day-card [day]="4"></app-day-card>
    </div>
    <div class="col-2">
      <app-day-card [day]="5"></app-day-card>
    </div>
    <div class="col-2">
      <app-day-card [day]="6"></app-day-card>
    </div>
  </div>
</div>
